@charset "utf-8";
/* CSS Document */




.header {position: absolute;
		margin-bottom: 5px;
		top:0px;
		border: 2px solid white;
        width: 98%;
		height: 250px;
        }
		
.header  > img {
	width: 100%;
	height: 250px;
	
}
		
		
.left-block {position: absolute;
            /*top: 200px; */
			height: 2000px;
			float:left;
			top:212px;
			margin-top: 20px;
			margin-bottom: 5px;
			margin-right: 10px;
			width: 24%;
			border:2px solid #b2eced;
			background-color: #e0f586;
      }
	  
	  
.content {position:absolute;
		 top: 212px;
		 left:24%;
		 height: 2000px;
		 width: 51.5%;
		 margin-top: 20px;
		 margin-bottom: 5px;
		 margin-right: 0px;
		 margin-left:10px;
		 border: solid 2px black;
		 background-color:
		}			 
		
.content h1{
	color:red;
	font-weight:bold;
	font-size:26px;
}
			 
.doyouknow  {position: absolute;
             top: 225px; 
			 left: 1028px;  
			 height: 600px;
			 margin-top: 0.5%;
			 margin-right: 3px;
			 margin-left:0px;
			 width: 230px;
			 border:2px solid black;
			 border-left: solid 1px black;
			 text-align:center;
		     font-weight:bold;
			 text-decoration:none;
			 font-family:"Shadows Into Light";
			 font-size:18px;
			 }

.doyouknow span {
	font-family:"lobster";
	font-size:22px;
}

.footer {position: absolute;
			height: 150px;
			top:2250px;
			clear:both;
			width: 98%;
			margin-top: 20px;
			margin-bottom:0px;
			border:2px solid black;
			background-color:#352B2B;
			color:white;
			font-size:1.5em;

			}
			
.footer ul li{
				display:inline;
				margin-right:110px;
				margin-left:110px;
}
			
.content > p {
	text-indent:40px;
	font-family:Arial;
	font-size:18px;
	text-align:justify;
	text-justify:inter-word;
	padding:10px;
	}


.header > img{
	height: 200px;
	position: absolute;
	left:0px;
	width:100%;
	
}

nav {
	position:relative;
	top:175px;

}

.header nav ul li{
	display:inline;
}

.header nav ul li a{
	color:yellow;
	font-weight:bolder;
	font-size:16px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration:none;
	text-transform:capitalize;
}

.header nav ul li a:link{
	color:red;
	font-size:16px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.header nav ul li a:hover{
	color:white;
	font-size:20px;
	text-decoration:none;
	font-weight:bolder;
	
}

.social{
	display:inline;
}

.left-block .social{
	position:relative;
	top:0px;
	left:20px;
	display:inline-block;
	
}

.left-block .social img{
	height:40px;
	width:40px;
}


